/* ********* */
/* @VARIABLES */
/* ********* */

$social: (
    facebook: #3a3ab8,
    twitter: #24246f,
    instagram: #b41111,
    youtube: #d71111,
    linkedin: #030342
);

$titulos: (
    h1: 2rem,
    h2: 1.5rem,
    h3: 1.25rem
);

/*
.facebook{
    background-color: map-get($social, facebook);
}

.twitter{
    background-color: map-get($social, twitter);
}

.instagram{
    background-color: map-get($social, instagram);
}

.youtube{
    background-color: map-get($social, youtube);
}

.linkedin{
    background-color: map-get($social, linkedin);
}
*/

@each $red, $color in $social{
    .#{$red} {
        background-color: $color;
        color: lighten($color, 50%);
    }
}


$colores:(
    pildora1: #205072,
    pildora2: #329d9c,
    pildora3: #56c596,
    pildora4: #7be495,
    pildora5: #cff4d2
);

@each $red, $color in $colores{
    .#{$red} {
        background-color: $color;
        border-radius: 70px;
        width: 100px;
        height: 200px;
        margin: 10px;
    }
}

.container1, .container2{
    display: flex;
}

$degradados:(
    circulo1: #36677E,
    circulo2: #58A49A,
    circulo3: #89D699,
    circulo4: #7FCA98,
    circulo5: #BAE6C5
);

@each $red, $color in $degradados{
    .#{$red} {
        background-color: $color;
        border-radius: 50%;
        width: 100px;
        height: 100px;
        margin: 10px;
    }
}